@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
.data-wrap {
    /* font-family: 'Oregano', cursive; */
    }

.comments {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    margin: 0 -8px;
    }   
.img-inside {
    width: 90%;
}
.comment-img {
    max-width: 64px;
    }
    
.img-prof {
    width: 10rem;
    padding: .2rem;
    border-radius: 20px;
    border: 2px solid #d99d68;
}

.img-prof:hover {
    transition: transform .2s; 
    transform: scale(1.05);
  }
.comments-text {
    margin-left: 1rem;
    padding: .2rem;
}
.divider {
width: 2px;
margin: 6px 0;
background: rgba(37, 37, 37, 0.1);
}
    
ol {
    max-width: 100rem;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
  }
  ol li {
    font-size: 1.2rem;
    margin: 0.5rem;
    counter-increment: my-awesome-counter;
    position: relative;
  }
  ol li::before {
    content: counter(my-awesome-counter);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    --size: 20px;
    left: calc(-1 * var(--size) - 15px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: rgb(145, 150, 160);
    border-radius: 50%;
    margin-top: 0.2rem;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
  }

  .img-holder1 {
    display: flex;
    justify-content: center;
   
  }


  .img-holder1 figcaption {
    margin: 1rem;
    text-align: center;
  }
  .img-holder1 img {
    padding: 2rem;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    border: 2px solid #d99d68;
    
  }

  .img-holder1 img:hover {
    transition: transform .2s; 
    transform: scale(1.05);
  }

 